/*estilos generales*/
.msg{
    background-color: #d4edda;
    color: #155724;
    border: 1px solid #c3e6cb;
    border-radius: 8px;
    width: 100%;
    margin-bottom: 0px;
    text-align: center;
    padding: 10px;
}